<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6702.0" authCookieName=".SFAUTH-sitefinity_walkthrough" rolesCookieName=".SFROLES-sitefinity_walkthrough" validationKey="084692859A86E0F549070B070A3ADE766F9C98D01C659BAE14B71DC3E178D7302ADA0E911B6EF6B02DC9361ECDCABC50F3CC3592BD6D249BF5C0725967993101" decryptionKey="5737C91B63A287969439B5AD5583D3996D83F6FCAB3E8A7B2C810245B1F08CC7" loggingCookieName=".SFLOG-sitefinity_walkthrough">
	<securityTokenIssuers>
		<add key="AED0088D73C6735EACD043E78834B8C44E311E7161B0BC1164AD63141FD7D72F" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="AED0088D73C6735EACD043E78834B8C44E311E7161B0BC1164AD63141FD7D72F" realm="http://localhost" />
	</relyingParties>
</securityConfig>